{% extends 'base.html.twig' %}

{% block title %}Nuevo evento{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 my-5 d-flex justify-content-center">
                <div class="bg-white mb-5 border border-black border-opacity-25 p-3 rounded-2 d-flex flex-column align-items-center form-container">
                    <h1 class="mb-4">Crear nuevo evento</h1>

                    {% for instrument in instruments %}
                        {{ instrument.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
