{% extends 'base.html.twig' %}

{% block title %}Band Bridge{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ event.name }}</h1>
        <p>{{ event.description }}</p>
        <p>Ubicación: {{ event.location }}</p>
    </div>
{% endblock %}
