{% extends 'base_back.html.twig' %}

{% block title %}Edit MusicianClass{% endblock %}

{% block body %}
    <div class="bg-white rounded-2 p-3">
        <h1>Editar rol</h1>

        {{ include('back_musician_class/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_back_musician_class_index') }}">back to list</a>

        {{ include('back_musician_class/_delete_form.html.twig') }}
    </div>
{% endblock %}
