{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <h1 class="mt-5">Política de Cookies</h1>
                <h3 class="mt-4">¿Qué son las cookies?</h3>
                Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita un sitio web. Se utilizan para recordar sus preferencias, mejorar su experiencia en nuestro sitio web y para diversos propósitos de análisis y publicidad.

                <h3 class="mt-4">¿Qué tipos de cookies utilizamos?</h3>
                Utilizamos los siguientes tipos de cookies en nuestro sitio web:


                <ul class="mt-4">
                    <li><strong>Cookies Esenciales</strong>
                        <p>Estas cookies son necesarias para el funcionamiento del sitio web y no pueden ser desactivadas en nuestros sistemas. Se utilizan generalmente en respuesta a acciones realizadas por usted, como configurar sus preferencias de privacidad, iniciar sesión o completar formularios.</p>
                    </li>
                    <li><strong>Cookies de Rendimiento</strong>
                        <p>Estas cookies nos permiten contar visitas y fuentes de tráfico para poder medir y mejorar el rendimiento de nuestro sitio. Nos ayudan a saber qué páginas son las más y las menos populares y a ver cómo los visitantes se mueven por el sitio.</p>
                    </li>
                    <li><strong>Cookies Funcionales</strong>
                        <p>Estas cookies permiten que el sitio web brinde una funcionalidad y personalización mejoradas. Pueden ser establecidas por nosotros o por terceros cuyos servicios hemos añadido a nuestras páginas.</p>
                    </li>
                    <li><strong>Cookies de Publicidad</strong>
                        <p>Estas cookies pueden ser establecidas a través de nuestro sitio por nuestros socios publicitarios. Pueden ser utilizadas por esas compañías para construir un perfil sobre sus intereses y mostrarle anuncios relevantes en otros sitios.</p>
                    </li>
                </ul>

                <h3 class="mt-3">¿Cómo puede controlar las cookies?</h3>
                Puede configurar su navegador para que rechace las cookies o le avise cuando se envíen cookies. Sin embargo, si desactiva las cookies, es posible que algunas partes de nuestro sitio web no funcionen correctamente.

                <h3 class="mt-3">Contacto</h3>
                Si tiene alguna pregunta sobre nuestra Política de Cookies, puede contactarnos en:

                <span class="mb-5">bandbridge@gmail.com</span>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

{% endblock %}