{% extends 'base_back.html.twig' %}

{% block title %}New Musician{% endblock %}

{% block body %}
    <div class="rounded-2 bg-white p-3">
        <h1>Create new Musician</h1>

        {{ include('back_musician/_form.html.twig') }}

        <a href="{{ path('app_back_musician_index') }}">back to list</a>
    </div>
{% endblock %}
