<aside class="col-2 aside h-auto">
    <nav id="main-menu">
        <ul class="list-unstyled fs-5">
            <li class="submenu">
                <a href="{{ path('app_back') }}" class="text-decoration-none text-white">Inicio</a>
            </li>
            <li class="submenu">
                <a href="{{ path('app_back_events') }}" class="text-decoration-none text-white">Eventos</a>
            </li>
            <li class="submenu">
                <a href="{{ path('app_back_users') }}" class="text-decoration-none text-white">Usuarios</a>
            </li>
            <li class="submenu">
                <a href="#" class="text-decoration-none text-white">Organizaciones</a>
            </li>
        </ul>
    </nav>
</aside>