<header class="bg-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-dark p-0">
                    <div class="container-fluid d-flex align-items-center justify-content-between">
                        <a class="navbar-brand" href="{{ path('app_home') }}">
                            <img src="{{ asset('../assets/images/icon.png') }}" alt="Logo" width="35" height="35">
                            BandBridge
                        </a>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <div>
                                    {% if app.user %}
                                        <a href="{{ path('app_logout') }}"><button class="button-1">Cerrar sesión</button></a>
                                    {% else %}
                                        <a href="{{ path('app_login') }}"><button class="button-1">Iniciar sesión</button></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>