<header>
    <div class="container-fluid">
        <div class="row bg-2">
            <div class="col-12">
                <a class="navbar-brand">
                    <img src="{{ asset('../assets/images/icon.png') }}" alt="Logo" width="35" height="35">
                    BandBridge
                </a>
            </div>
        </div>
    </div>
</header>