{% extends 'base_back.html.twig' %}

{% block title %}BandBridge{% endblock %}

{% block body %}
    <div class="p-2">
        <div class="rounded-2 bg-white p-3">

            <h1 class="pb-3">Administra los eventos</h1>

            <div class="d-flex flex-wrap justify-content-evenly">
                {% for event in events %}
                    <div class="card card-2 mt-2 mb-2 {% if event.state == 'Closed' %}gray-filter{% endif %}">
                        <div class="d-flex align-items-center">
                            <div class="p-3"><img src="{{ asset('../assets/images/card.png') }}"
                                                  class="rounded-2" alt="..."></div>
                            <div><p class="card-title ff-2 fs-4 pe-3">{{ event.name }}</p></div>
                        </div>
                        <div class="card-body pt-0">
                            <p class="card-text">
                                {% if event.description|length > 70 %}
                                    {{ event.description|slice(0, 70) ~ '...' }}
                                {% else %}
                                    {{ event.description }}
                                {% endif %}
                            </p>
                            <p class="card-text ff-2 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor"
                                     class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>
                                Oliva, Valencia
                            </p>
                        </div>
                        <div class="card-footer p-0">
                            <div class="text-center d-flex">
                                <button type="button" class=" w-50 rounded-start button-3">Eliminar</button>
                                <button type="button" class=" w-50 button-3">Ver</button>
                                <button type="button" class=" w-50 rounded-end button-3">Editar</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}