{% extends 'base_back.html.twig' %}

{% block body %}
<div class="p-2">
    <div class="rounded-2 bg-white p-3">

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>/var/www/html/src/Controller/BackController.php</code></li>
            <li>Your template at <code>/var/www/html/templates/back/index.html.twig</code></li>
        </ul>
    </div>
</div>
{% endblock %}